@{
    ViewBag.Title = "Estudiantes";
}

<style>
    .centarTexto{
        text-align:center;
    }

    .formatoTexo{
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div ng-controller="EstudiantesController" data-ng-init="obtenerEstudiantes()">

    <section class="content-header">

        <h1> Estudiantes </h1>
        <p style="float:right; margin-top:-25px" class="formatoTexo"><span ng-bind="NombreCiudad"></span>,  Temperatura: <span ng-bind="Temperatura"></span>°C </p>
        <ol class="breadcrumb">
            <li class="active">  </li>
        </ol>

    </section>

    <section>
        <div class="box box-primary">
            <div class="box-header">
            </div>
            <div class="box-body">

                <div class="row formatoTexo" ng-show="totalEstudiantes > 0">
                    <div class="col-lg-6 ">
                        <h4>Estudiante con mejor calificación</h4>
                        <p>Nombre: <span ng-bind="MejorEstudiante.Nombre_Completo"> </span></p>
                        <p>Calificación: <span ng-bind="MejorEstudiante.Calificacion"> </span></p>
                    </div>
                    <div class="col-lg-6 ">
                        <h4>Estudiante con peor calificación:</h4>
                        <p>Nombre: <span ng-bind="PeorEstudiante.Nombre_Completo"> </span></p> 
                        <p>Calificación: <span ng-bind="PeorEstudiante.Calificacion"> </span></p>
                    </div>

                    <div class="col-lg-6">
                        <p>Promedio de calificación general: <span ng-bind="PromedioCalificaciones | number:2"></span></p>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-lg-4">
                        <h3>Listado de estudiantes</h3>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <button class="form-control " style="float:right; margin-top:20px;" ng-click="subirArchivoImportacion()">  Importar archivo</button>
                    </div>
                </div>

                <br />
                <table class="table table-sm table-striped table-hover compact  table-responsive no-padding">
                    <thead>
                        <tr>
                            <th> NOMBRE </th>
                            <th> APELLIDO PATERNO </th>
                            <th> APELLIDO MATERNO </th>
                            <th class="centarTexto"> FECHA NACIMIENTO </th>
                            <th class="centarTexto"> GRADO </th>
                            <th class="centarTexto"> GRUPO </th>
                            <th class="centarTexto"> CALIFICACIÓN </th>
                            <th class="centarTexto"> CLAVE </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in listaEstudiantes track by $index">
                            <td ng-bind="d.Nombres"></td>
                            <td ng-bind="d.ApellidoPaterno"></td>
                            <td ng-bind="d.ApellidoMaterno"></td>
                            <td class="centarTexto" ng-bind="d.FechaNacimiento_String"></td>
                            <td class="centarTexto" ng-bind="d.Grado"></td>
                            <td class="centarTexto" ng-bind="d.Grupo"></td>
                            <td class="centarTexto" ng-bind="d.Calificacion"></td>
                            <td class="centarTexto" ng-bind="d.Clave"></td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <div id="seccionGrafica">
                    <h3>Grafica de calificaciones</h3>
                    <div class="box-body chart-responsive" id="contenedorGrafica">
                        <div class="chart" id="bar-chart-calificaciones" style="display:block; height: 600px;"></div>
                    </div>
                </div>



            </div>
        </div>

        
    </section>

    <div id="myModalImportarArchivo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Subir archivo de calificaciones</h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="FileUpload" />
                    <button id="btnGuardarInfo" ng-click="GuardarListaSessionStorage()" hidden></button>

                    <br />
                    <hr />
                    <label>Número de veces que va a rotar la clave</label>
                    <input type="number" class="form-control" id="txtVecesIterar" />
                </div>
                <div class="modal-footer">
                    <button id="btnUpload" class="btn btn-sm btn-success">Subir archivo</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>




</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#btnUpload').click(function () {
            
            var veces = $('#txtVecesIterar').val();
            if (veces == null || veces == undefined || veces == "") {
                alert("Debe ingresar el numero de veces que va a rotar");
                return;
            }

            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                fileData.append('numVeces', $('#txtVecesIterar').val());

                $.ajax({
                    url: '/Home/ImportarDatos',
                    type: "POST",
                    contentType: false, 
                    processData: false, 
                    data: fileData,
                    success: function (result) {
                        const myObjStr = JSON.stringify(result);
                        //Se guarda la informacion del excel en sessionStorage
                        sessionStorage.setItem('listaEstudiantes', myObjStr);
                        $('#btnGuardarInfo').click();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("error");
            }

            $('#myModalImportarArchivo').modal("hide");

        });
    });


</script> 