@{
    ViewBag.Title = "Estudiantes";
}

<style>
    .centarTexto{
        text-align:center;
    }

    .formatoTexo{
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div  ng-controller="EstudiantesController" data-ng-init="obtenerEstudiantes()">
    <div>
        <section class="content-header">
        
            <h1> Estudiantes </h1>
            <p style="float:right; margin-top:-25px" class="formatoTexo"><span ng-bind="NombreCiudad"></span>,  Temperatura: <span ng-bind="Temperatura"></span>°C </p>
            <ol class="breadcrumb">
                <li class="active">  </li>
            </ol>

        </section>

        <section class="content reloadPage">
            <div class="box box-primary"></div>

            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">

                    <div class="row formatoTexo" ng-show="totalEstudiantes > 0">
                        <div class="col-lg-6 ">
                            <h4>Mejor estudiante</h4>
                            <p>Nombre: <span ng-bind="MejorEstudiante.Nombre_Completo"> </span></p>
                            <p>Calificación: <span ng-bind="MejorEstudiante.Calificacion"> </span></p>
                        </div>
                        <div class="col-lg-6 ">
                            <h4>Peor estudiante:</h4>
                            <p>Nombre: <span ng-bind="PeorEstudiante.Nombre_Completo"> </span></p>
                            <p>Calificación: <span ng-bind="PeorEstudiante.Calificacion"> </span></p>
                        </div>
                        
                        <div class="col-lg-6">
                            <p>Promedio de calificación general: <span ng-bind="PromedioCalificaciones | number:2"></span></p>
                        </div>
                    </div>

                    <ol class="breadcrumb">
                        <li class="active">  </li>
                    </ol>

                    @*<h3>Listado de estudiantes <span style="float:right; font-size:18px;">Total: {{totalEstudiantes}}</span></h3>*@

                    <div class="row">
                        <div class="col-lg-4">
                            <h3>Listado de estudiantes</h3>
                        </div>
                        <div class="col-lg-4 col-lg-offset-4">
                            <button class="form-control " style="float:right; margin-top:20px;" ng-click="subirArchivoImportacion()">  Importar archivo</button>
                        </div>
                    </div>

                    <br />
                    <table class="table table-sm table-striped table-hover compact  table-responsive no-padding">
                        <thead>
                            <tr>
                                <th> NOMBRE </th>
                                <th> APELLIDO PATERNO </th>
                                <th> APELLIDO MATERNO </th>
                                <th class="centarTexto"> FECHA NACIMIENTO </th>
                                <th class="centarTexto"> GRADO </th>
                                <th class="centarTexto"> GRUPO </th>
                                <th class="centarTexto"> CALIFICACIÓN </th>
                                <th class="centarTexto"> CLAVE </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in listaEstudiantes track by $index">
                                <td ng-bind="d.Nombres"></td>
                                <td ng-bind="d.ApellidoPaterno"></td>
                                <td ng-bind="d.ApellidoMaterno"></td>
                                <td class="centarTexto" ng-bind="d.FechaNacimiento_String"></td>
                                <td class="centarTexto" ng-bind="d.Grado"></td>
                                <td class="centarTexto" ng-bind="d.Grupo"></td>
                                <td class="centarTexto" ng-bind="d.Calificacion"></td>
                                <td class="centarTexto" ng-bind="d.Clave"></td>
                            </tr>
                        </tbody>
                    </table>

                    <hr /><br /><br />

                    <h3>Grafica de calificaciones</h3>
                    <div class="box-body chart-responsive" id="contenedorGrafica">
                        <div class="chart" id="bar-chart-calificaciones" style="display:block; height: 500px;"></div>
                    </div>

                    <div id="divPadre">
                        @*<div id="exTab2">
                <ul class="nav nav-tabs">
                    <li id="itemBarListado" class="active">
                        <a href="#tabListadoEstudiantes" class="active" data-toggle="tab" style="font-size: 16px; ">Listado estudiantes</a>
                    </li>

                    <li id="itemBarGrafica" ng-click="graficarCalificaciones()">
                        <a href="#tabGraficaCalificaciones" data-toggle="tab" style="font-size: 16px; ">Grafica calificaciones</a>
                    </li>

                </ul>
            </div>*@

                        @*<div class="tab-content">

                <div class="tab-pane active" id="tabListadoEstudiantes">



                </div>

                <div class="tab-pane active" id="tabGraficaCalificaciones">








                </div>

            </div>*@

                    </div>




                </div>
            </div>
        </section>

        <div id="myModalImportarArchivo" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Subir archivo de calificaciones</h4>
                    </div>
                    <div class="modal-body">
                        <input type="file" id="FileUpload" />
                        <button id="btnGuardarInfo" ng-click="GuardarListaSessionStorage()" hidden></button>

                        <br />
                        <hr />
                        <label>Número de veces</label>
                        <input type="number" class="form-control" id="txtVecesIterar" />
                    </div>
                    <div class="modal-footer">
                        <button id="btnUpload" class="btn btn-sm btn-success">Subir archivo</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>


        

    </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnUpload').click(function () {

            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('numVeces', $('#txtVecesIterar').val());

                $.ajax({
                    url: '/Home/ImportarDatos',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        const myObjStr = JSON.stringify(result);

                        sessionStorage.setItem('listaEstudiantes', myObjStr);

                        $('#btnGuardarInfo').click();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("Error");
            }

            $('#myModalImportarArchivo').modal("hide");

        });
    });


</script> 