@{
    ViewBag.Title = "Estudiantes";
}

    <div class="content-wrapper" ng-controller="EstudiantesController" data-ng-init="obtenerEstudiantes()">
        <div ng-show="MostrarVista == 0;">
            <section class="content-header">
                <h1> Estudiantes </h1>
                <ol class="breadcrumb">
                    <li class="active"> Estudiantes </li>
                </ol>
            </section>

            <section class="content reloadPage">
                <div class="box box-primary"></div>

                <div class="box">
                    <div class="box-header">
                        <span style="font-weight:bold; font-size: 15px;">Total:</span>&nbsp;&nbsp;<span style="font-size: 16px;" ng-bind="totalEstudiantes"></span>
                        <button ng-click="graficarCalificaciones()">Graficar calificaciones</button>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-sm table-striped table-hover compact">
                            <thead>
                                <tr>
                                    <th> CLAVE </th>
                                    <th> NOMBRE </th>
                                    <th> APELLIDO PATERNO </th>
                                    <th> APELLIDO MATERNO </th>
                                    <th> FECHA NACIMIENTO </th>
                                    <th> GRADO </th>
                                    <th> GRUPO </th>
                                    <th> CALIFICACIÓN </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in listaEstudiantes">
                                    <td ng-bind="d.Clave"></td>
                                    <td ng-bind="d.Nombres"></td>
                                    <td ng-bind="d.ApellidoPaterno"></td>
                                    <td ng-bind="d.ApellidoMaterno"></td>
                                    <td ng-bind="d.FechaNacimiento_String"></td>
                                    <td ng-bind="d.Grado"></td>
                                    <td ng-bind="d.Grupo"></td>
                                    <td ng-bind="d.Calificacion"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
        @Html.Action("Grafica", "Home")
    </div>
